body {
  font-family: fantasy;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  font-size: larger;
}

h1 {
  color: #444;
  text-shadow: 1px 1px 1px #ddd;
}

.flag-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.flag {
  width: 100%;
  max-width: 280px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s;
}

.flag:hover {
  transform: scale(1.1);
}

#england {
  grid-column: span 2;
  justify-self: center;
  width: 100%;
  max-width: 320px;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container button {
  background-color: inherit;
  color: #15977f;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #207bb8;
}

.button-container img {
  margin-right: 5px;
  width: 30px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
}

.popup-content {
  display: block;
  margin-bottom: 15px;
  font-size: 34px;
}

.popup button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
}

.popup button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: medium;
  }

  .flag-container {
    grid-template-rows: repeat(6, 1fr);
  }

  .flag,
  #england {
    max-width: 100%;
  }

  .popup {
    width: 80%;
  }
  .button-container {
    flex-direction: row;
    margin-top: -20px;
  }
}
